* {
    box-sizing: border-box;
}

body {
  background-color: #f6f6f3;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
  padding: 2rem 0;

  &__branding {
    color: #277f86;
    font-size: 2.5rem;
  }
}

.nav {
  position: relative;
  max-width: 200px;
  margin: 0 auto;

  &__link {
    display: inline-block;
    font-size: 1.25rem;
    color: #3c3a3a;
    margin-top: .5rem;
    transition: color .2s ease;

    img {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 13px;
      margin-left: .5rem;
      transition: transform .2s ease;
    }

    &:hover {
      color: #277f86;
    }

    &.is-active {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    visibility: hidden;
    position: absolute;
    top: 1.25rem;
    right: -12rem;
    background-color: #f6f6f3;
    border: 1px solid transparentize(#277f86, .5);
    z-index: 10;
    width: 550px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;

    &.is-active {
      visibility: visible;
    }
  }

  &__item {
    text-align: left;
  }
}

.cardview {
    max-width: 1600px;
    margin: 0 auto;

  &__list {
    width: 100%;
    margin-left: 10px;
  }
}

.card {
  cursor: pointer;

  &__description,
  &__credit {
      display: none;
  }
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
  margin-bottom: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  width: 100%;
}

@media only screen and (min-device-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 32.5%;
    }
} 

@media only screen and (min-device-width: 1680px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}

#loader-img {
	display: none;
    position: fixed;
    bottom: 3vh;
    left: calc(50vw - 75px);
    width: 150px;
}

