* {
    box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.cardview {

  &__list {
    background-color: black;
    padding: 0;
  }
}

.card {
  cursor: pointer;
  
  &__image {
    max-width: 100%;
  }

  &__description,
  &__credit {
      display: none;
  }
}

@media only screen and (min-device-width: 768px) {
  .cardview {

    &__list {
        display: -ms-flexbox;
        -ms-flex-direction: column;
        -ms-flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100vw;
        width: 100%;

      &:hover .card {
	    opacity: 0.3;
      }

      &:hover .card:hover {
        opacity: 1;
      }
    }
  }

  .card {
    width: 33.3%;
    transition: .5s opacity;
  }
} 

